
.serviceHero {
  height: 100vh;
  background: url("../assets/hero3.jpg") no-repeat center center/cover;
  position: relative;
  padding-top: 70px; 
}

.serviceHero-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceHero-content {
  text-align: center;
  color: #b0a1a1;
  padding: 20px;
  animation: fadeInUp 1.5s ease-in-out;
}

.serviceHero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #e7dada;
    margin-bottom: 20px;
    animation: slideInDown 1.2s ease-out;
 
}

.serviceHero-subtitle {
  font-size: 1.5rem;
  margin: 20px 0;
  animation: fadeIn 2s ease-in;
  color: #e0d4d4;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
